@import '../base/media-queries';
.button {
    border: none;
    background: none;
    background-color: $grey;
    color: $white;
    padding: 1em 6em;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    @include tablet{
        font-size: rem(12);
    }
    ;
    &:hover {
        background-color: lighten($grey, 10%);
    }
    &--alert{
        background-color: $red;
        &:hover{
            background-color: lighten($grey, 10%);
        }
    }
}
