$col-nb: 12;
$container-width: 100%;
$gutter-width:20px;
$sm-width:768;
$md-width:992;
$lg-width:1200;
$xl-width:1980;

$map-grid-props: (
        '':0,
        '-sm': $sm-width,
        '-md': $md-width,
        '-lg': $lg-width,
        '-xl': $xl-width
);

@mixin create-mq($breakpoint) {
    @if($breakpoint == 0) {
        @content;
    } @else {
        @media screen and (min-width: $breakpoint *1px) {
            @content;
        }
    }
}

@mixin create-col-classes($modifier, $col-nb, $breakpoint) {
    @include create-mq($breakpoint) {
        @for $i from 1 through $col-nb {
            &__col#{$modifier}-#{$i} {
                flex-basis: (100 / ($col-nb / $i) ) * 1%;
                //padding: 0 calc(#{$gutter-width}/2) ;
            }
        }
    }
}

.container {
    max-width: $xl-width * 1px;
    margin: 0 auto;
    &--fluid {
        margin: 0;
        max-width: 100%;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        /*.gutter{
            margin: 0 calc(#{$gutter-width}/-2);
        }*/
    }
    @each $modifier , $breakpoint in $map-grid-props {
        @include create-col-classes($modifier, $col-nb, $breakpoint);
    }
}


