@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

aside.left{
    position: absolute;
    left: 0;
    top: 0;
    width: 255px;
    height: 100vh;
    background-color: $brown;
    color: $green;
    font-family: $font1;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            padding-left: 12px;
            padding-bottom:12px;
           
            &:hover{
                border-left: 5px solid #fff;
                background-color: $green;
                color: white;
            }

            a {
                display: block;
                width: 100%;
                padding:8px 0 8px 0;
                text-decoration: none;
                color: $green;
                font-size: 32px;
                transition: 0.3s ease;

                i {
                    padding: 0 8px 0 8px;
                }

                &:hover{
                    color: white;
                }
            }

            &#logo:hover{
                background-color: inherit;
                border: none;
            }
        }
    }
}