.env
.idea
public/librairies/dist/main.css
public/librairies/dist/main.js
public/librairies/webpack/node_modules/


#CKEditor
*.po
!en.po
*.md
!README.md
public/librairies/vendor/ckeditor5/node_modules/
public/librairies/vendor/ckeditor5/coverage/
public/librairies/vendor/ckeditor5/packages/*/node_modules/
public/librairies/vendor/ckeditor5/packages/*/docs/
public/librairies/vendor/ckeditor5/packages/*/sample/
public/librairies/vendor/ckeditor5/docs/api/output.json
public/librairies/vendor/ckeditor5/external/
public/librairies/vendor/ckeditor5/build/
public/librairies/vendor/ckeditor5/!packages/ckeditor5-build-*/build