body.admin-login{
    background-image: linear-gradient(to top,rgba(54,55,64,0.3),rgba(54,55,64,0.2)), url("/images/heroconnexion.jpg");
    background-position: left;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    .col-6{
        &.connexion-leading{
            height: 100vh;
            position: relative;
            .container-leading{
                text-align: center;
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .connexion-title{
                    text-align: center;
                    color: $white;

                    h1{
                        font-size: 30px;
                        font-weight: bold;
                    }
                }

                .logo{
                    align-content: center;
                    height: 310px;
                    width: 400px;
                }
            }

        }

        &.connexion-form{
            height: 100vh;
            background-color: $brown;
            position: relative;

            .container-form {
                border-radius: 8px;
                background: white;
                padding: 20px;
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                form{
                    padding: 30px;
                    text-align: center;
                }

                .form-input {
                    a{
                        text-decoration: none;
                        color: $green;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    input{
                        background: #FFFFFF;
                        border: 1px solid #00A2AC;
                        box-sizing: border-box;
                        border-radius: 10px;
                        width: 65%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}


