.formContainer {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    &--form {
        margin-top: 185px;
        margin-left: 127px;
        margin-right: 127px;
        padding-bottom: 33px;
        padding-top: 57px;
        border-radius: 10px;
    }
    &--contact {
        margin-top: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 127px;
        margin-right: 127px;
        border-radius: 10px;
    }
}

.white {
    background-color : $white;
}

#gauche{
    left: 0;
    top: 0;
    height: 850px;
    background-image: url("/images/heroconnexion.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#droite{
    right: 0;
    top: 0;
    background-color: #363740;
}
body{
    overflow: hidden;
}

.logo{
    align-content: center;
    height: 310;
    width: 400;
}