@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.contentEditor{
  margin: 0 auto;
  width: 98%;
  margin-top: 2.2vh;

  #title{
    width: 50%;
  }

  input{
    margin-bottom: 1%;
  }

  .ck-editor__editable_inline {
    min-height: 68vh;
    max-height: 75vh;
  }

  .add-form{
    background-color: #fff;
    border-radius: 1vh;
    padding: 2.2vh;
    padding-bottom: 2.2vh;
    h1 { margin: 0;}

    input[type=submit] {
      margin-top: 4vh;
    }
  }

  .back-to-list {
    margin-top: 15px;
  }
}
