@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
}

.admin-sidebar {
  position: fixed;
  width: 15%;
  left: 0;
  bottom:0;
  top: 0;
  background-color: #363740 ;

  .logo {
    border-bottom: 1px solid #42434e;
    a{
      display: block;
      width: 135px;
      height: 110px;
      margin: 0 auto;
   
      
    img {
      width: 100%;
      height: 100%;
    }
    
  }
  
  }

  .dashboard-home{
    padding: 20px;

    i { padding-right: 10px}

    &:hover, &:active{
      background-color: #02A2AD;
      a {color: #fff;}
    }
  }

  .admin-menu-links{
    ul {
      padding: 0;
      margin: 0;

      li {

        border-top: 1px solid #02A2AD;

        a {
          display: block;
          padding: 20px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .parameters{
    position: absolute;
    bottom: 0;
    padding: 20px;
  
  }

}

.admin-topbar{
  position: fixed;
  width: 85%;
  left: 15%;
  top: 0;

  .user-controls {
    background-color:#363740;
    width: 25%;
    position: absolute;
    right: 0;
    border-radius: 0px 0px 0px 50px;
    text-align: right;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    .identity {
      display: flex;
      flex-direction: row;
      color: #fff;


      .img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        border-radius: 50%;
        background-color: #fff;
      }

      p {
        margin: 0;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    ul li {
      display: inline-block;
    }
  }

}

.admin-main--content{
  position: absolute;
  left: 15%;
  width: 85%;
}

