*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font1;
}

h1, h2{
    font-family: $font2;
}

h1 {
    font-size: rem(28);
    color: $brown;
}

h3{
    color: $green;
    font-size: rem(18);
}

h2 {
    font-size: rem(16);
}

//Augmenter linterlignage
p {
    line-height: 1.4em;
}