*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font1;
    background-color: $light-grey;
}

.container{
    max-width: 1140px;
    height: 100%;
}

h1, h2{
    font-family: $font2;
}

h1 {
    font-size: rem(30);
    font-weight: bold;
}

h2 {
    font-size: rem(16);
}

//Augmenter linterlignage
p {
    line-height: 1.4em;
}