
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $light-grey;
}

.container{
    max-width: 1140px;
    margin: auto;
}

h1, h2{
}

h1 {
    font-size: rem(24);
}

h2 {
    font-size: rem(16);
}

//Augmenter linterlignage
p {
    line-height: 1.4em;
}