
<h1>MA PAGE</h1>
<p style="text-align:center;">;</p>
<p>zadazfzafafzefefZEFzefefCZ</p>
<figure class="table">
   <table>
       <tbody>
           <tr>
               <td>cea</td>
               <td>nice</td>
               <td>;</td>
               <td>;</td>
           </tr>
           <tr>
               <td>dad</td>
               <td>cetee</td>
               <td>;</td>
               <td>;</td>
           </tr>
           <tr>
               <td>;</td>
               <td>;</td>
               <td>;</td>
               <td>;</td>
           </tr>
           <tr>
               <td>cczzzd</td>
               <td>;</td>
               <td>;</td>
               <td>;</td>
           </tr>
       </tbody>
   </table>
</figure>
<p>ZEFEZFEZFZE;</p>
<p style="text-align:right;">;</p>
<h2 style="text-align:right;">MA PAGE</h2>
<h3 style="text-align:right;">Ma page</h3>
<h4 style="text-align:right;">Ma page</h4>
