.link {
    position: relative;
    transition: clip-path 275ms ease;
    &:hover span::before, &:focus span::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
      position: relative;
      display: inline-block;
      color: $secondary;
      &::before {
        position: absolute;
        content: attr(data-content);
        color: $primary;
        text-decoration: underline;
        text-decoration-color: $primary;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        transition: clip-path 275ms ease;
      }
    }
  }