@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

aside.left{
    left: 0;
    top: 0;
    width: 15%;
    height: 100vh;
    background-color: $primary;
    color: $secondary;
    font-family: $font1;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            padding-left: 12px;
            padding-bottom:12px;
           
            &:hover{
                border-left: 5px solid #fff;
                background-color: $secondary;
                color: white;
            }

            a {
                display: block;
                width: 100%;
                padding:8px 0 8px 0;
                text-decoration: none;
                color: $secondary;
                font-size: 3vh;
                transition: 0.3s ease;

                i {
                    padding: 0 8px 0 8px;
                }

                &:hover{
                    color: white;
                }
            }
            #logo{
                width: 100%;

            }
            #logo--a{
                 text-align: center;
            }
            &#logo:hover{
                background-color: inherit;
                border: none;
                right: 50%;
                left: 50%;
            }
        }
    }
}